.item {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 3.2rem;
}
.item img {
  cursor: pointer;
  margin-right: 4.8rem;
  margin-bottom: 2.4rem;
}
.item img li:last-child {
  margin-right: 0;
}
