.form {
  position: relative;
}
.control {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 3.2rem;
}
.control label,
p {
  font-size: 1.8rem;
}
.control input {
  height: 4.4rem;
}
.control input,
.control textarea {
  font: inherit;
  font-size: 1.8rem;
  color: #555;
  padding: 0.35rem;
  border-radius: 0.4rem;
  background-image: linear-gradient(
    to right top,
    rgba(255, 255, 255, 0.9),
    rgba(165, 216, 255, 0.3)
  );
  border: 1px solid #aaa;
  display: block;
  width: 100%;
}
.control input:focus,
.control textarea:focus {
  background-color: #eee;
  outline-color: #777;
}
.tags {
  cursor: pointer;
  padding: 0.2rem 0.4rem;
  margin-right: 0.8rem;
  font-size: 1.8rem;
  color: #333;
  border-radius: 0.4rem;
  background-image: linear-gradient(
    to right top,
    rgba(165, 216, 255, 0.7),
    rgba(51, 155, 240, 0.9)
  );
  box-shadow: 0 0.1rem 0.5rem rgba(119, 119, 119, 0.5);
}
