.sidebar-menu {
  max-width: 100%;
  margin: 1.2rem;
}

.sidebar-menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
  cursor: pointer;
  padding: 0.2rem 0.8rem;
  margin-right: 0.8rem;
  font-size: 1.8rem;
  color: #333;
  border-radius: 4px;
  background-image: linear-gradient(
    to right top,
    rgba(165, 216, 255, 0.7),
    rgba(51, 155, 240, 0.9)
  );
  box-shadow: 0 0.1rem 0.5rem rgba(119, 119, 119, 0.5);
}
.sidebar-menu-item:hover {
  animation: move-shadow 1.5s forwards;
}
@keyframes move-shadow {
  100% {
    box-shadow: 0 0 5rem 2rem rgba(119, 119, 119, 0);
  }
}
.sidebar-menu-item span {
  font-size: 1.4rem;
  margin-left: 1.2rem;
}
