body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-image: url("../public/img/sharon-mccutcheon-eMP4sYPJ9x0-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.home {
  font-size: 2.4rem;
  position: absolute;
  left: 2.4rem;
  bottom: 9.6rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  padding: 0.8rem 1.6rem;
  font-size: 1.8rem;
  color: #333;
  border-radius: 0.4rem;
  background-image: linear-gradient(
    to right top,
    rgba(165, 216, 255, 0.7),
    rgba(51, 155, 240, 0.9)
  );
  box-shadow: 0 0.1rem 0.5rem rgba(119, 119, 119, 0.5);
}
.btn:hover {
  animation: move-shadow 1.5s forwards;
}
@keyframes move-shadow {
  100% {
    box-shadow: 0 0 5rem 2rem rgba(119, 119, 119, 0);
  }
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-group img {
  cursor: pointer;
}
.btn-group img:hover {
  transform: translateX(-5%);
}
